<header>
    <div class="header">
        <div class="logo">
            <div class="lbl-logo">Logo</div>
        </div>
        <div class="actions">
            <div class="tabs">
                <div class="tab" [class.active]="selectedTab === 'NewReg'" (click)="selectTab('NewReg')">
                    Registration
                </div>
                <div class="tab" [class.active]="selectedTab === 'Details'" (click)="selectTab('Details')">
                    User Details
                </div>
            </div>
        </div>
        <span class="userLogo">
            <img [src]="imagePath" style="width: 50px;height: 40px;">
        </span>
    </div>

</header>
<div class="tab-content">
    <div *ngIf="selectedTab === 'Details'">
        <app-details></app-details>
    </div>
    <div *ngIf="selectedTab === 'NewReg'">
        <app-new-registration></app-new-registration>
    </div>
</div>
<footer>
    <div>@Copy Rights
        <span class="date">August 2022</span>
    </div>
</footer>